@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Roboto";
}
body {
    background-color: #f4f4f4;
}

.text-default {
    padding: 0rem 0;
    font-weight: 500;
    color: #3a4748;
}

.bigtitle {
    font-size: 22px;
    font-weight: 600;
    color: #1b1b1a;
}

.title {
    font-size: 20px;
    font-weight: 600;
    color: #1b1b1a;
}

.subtitle {
    font-size: 16px;
    color: #4f4f43;
    font-weight: 500;
    margin: 0;
}

.button {
    display: flex;
    padding: 0.5rem 1rem;
    justify-content: center;
    align-items: center;
    gap: 10px;
    align-self: stretch;
    margin: 0 !important;
    border-radius: 24px;
    text-transform: none;
    font-size: 1rem;
    font-weight: 600;
}

.link {
    text-decoration: none;
    color: #1b1b1a;
}
.text-link {
    color: #3a3ac5;
}

.scheduleContainer {
    border-left: 3px solid #f4b303;
}

.thumbnail-event {
    height: 150px;
    background: url(/images/banner.png);
    background-size: cover;
}

.item-horario {
    background-color: #f6f6f6;
    border-radius: 2rem;
    padding: 0rem 0.5rem;
}

.container-instrucao {
    background-color: #fff;
}
.numbered-list {
    list-style-type: decimal; /* Define a lista como numerada */
}
